*.php linguist-language=PHP
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.json linguist-language=JSON

# Ignore vendor and node_modules from language stats
vendor/** linguist-vendored
node_modules/** linguist-vendored
